{
    border: 5px solid blueviolet;
}

#header-logo{
    font-size: 24px;
    color : #F9FAF8;
    font-weight: bold;
}

.header-logo-container{
    width: 100%;
}
.top-page{
    background-color: #1F2937;
    padding: 20px 250px 80px 250px;
}
.hero-main-text{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.headers{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color:#3882F6;
    color:white;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    border:none;
}
.container{
    display:flex;
    width:100%;
}

.center{
    display:flex;
    width:100%;
    justify-content:center;
    gap: 3%;
}

.image-section2{
    height: 100%;
    width: 170px;
}

.underbox-text{
    color:grey;
    text-align: center;
}


.bluebox{
    height: 150px;
    width: 170px;
    border: 5px solid #3882F6;
}

.section3{
    background-color: #E5E7EB;
    padding: 150px 500px 150px 500px;
}

.section3-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}


.quoter{
    width: 100%;
}

.column-container{
    display:flex;
}

.container-mid{
    display:flex;
    justify-content:space-between;
    padding: 50px 0;
}
.links{
    gap: 15px;
    justify-content:flex-end;
}

.secondary-text{
    font-size: 18px;
    color : #E5E7EB;
}



.image-placeholder{
    background-color: grey;
    display: flex;
    width: 30%;
}

.image-placeholder-text{
    margin:auto;
    color:white;
}

.main{
    width: 30%;
}

.section2{
    display:flex;
    width:100%;
}

.section2header{
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    width:100%;
    display:flex;
    justify-content:center;
}